body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36454f;
}

hr{
  /* justify-content: center; */
  width: 70%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  height: 150px;
  width:100%;
  background-color: #36454f;
  text-align: center;
}

input{
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  outline: none;
  width: 300px;
  font-size: medium;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4,325px);
  grid-auto-rows: 330px;
  margin: auto;
  width: 85%;
  /* background-color: #36454F; */
  align-items: center;
}

.grid-container > div{
  background-color: whitesmoke;
  margin: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-right: 25px;
  color: black;
  text-align: center;
  box-shadow: 1px 1px 1px 2px #293740;
  border-radius: 10px;
}

.red{
  color: red;
  font-weight: bolder;
}

.green{
  color: green;
  font-weight: bolder;
}